html {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
}

body {
background: linear-gradient(285deg,#a161b6 0%, #a800d8 50%, #9000a8 100%);
color: #f5f5f5;
}


/*styling for header section (top of page)*/
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
}

.logo {
    color: white;
    padding: 5px;
}

/*margins and flex for navigation options*/
.navbar > ul > li {
    list-style-type: none;
    display: flex;
    float: left;
    margin: 25px;
}

/*styling for nav-links*/
.nav-link {
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}


/*styling and margin for main content section*/
.main-content {
    width: 67%;
    margin: 10% auto;
}

/*hero section*/
.hero {
    height: 100vh;
    padding-top: 5vh;
    text-align: center;
    line-height: 2.2rem;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 22px;
    margin-bottom: 5%;
}

/*cta styling*/
.cta-btn {
    color: #f5f5f5;
    background: linear-gradient(#9000a8, #a800d8, #9000a8);
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    width:fit-content;
    margin: auto;
    padding: 15px;
    font-size: larger;
    transition: 0.6s ease;
    }

.cta-btn:hover {
    background:#f5f5f5;
    color: #9000a8;
}

/*musings styling*/
.musings {
    padding-top: 15px;
    text-align: center;
    height: 85vh;
}

.musings p {
    font-size: 22px;
    margin-bottom: 5%;
}


/*log-pro*/
.log-pro-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75vh;
}

/*log styling, for border between log and projects. I'm sure there is a better solution, but it hasn't come to mind yet.*/
.log {
    border-right: 2px solid;
}

/*project and log content styling*/
.projects, .log {
    width: 50%;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*styling p and a elements in the "From The Log" and "Stuff I've Done" sections*/
.log p, .projects p {
    font-size: 1.1rem;
}

.log a, .projects a { 
    color: white;
}

/*styling for link options on front page. "View Musings", "View Projects", "View Log"*/
.view-btn{
    background: linear-gradient(180deg, #a161b6, #a800d8, #9000a8);
    color: white;
    box-shadow: 0 0 4px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
    width: 10vw;
    margin: 10vh auto;
    transition: all 0.7s ease;
}

.view-btn:hover {
    background: white;
    color: #9000a8;
}

#musings { 
    position: relative;
    top: 10vh;
}

footer {
    margin: 60px auto auto auto;
    border-top: 1px solid;
    padding-top: 15px;
    text-align: center;
    width: 67%;
    padding: 15px;
}

@media screen and (max-width: 768px) {
     * {
        font-size: 18px;
    }

    body {
background: linear-gradient(285deg,#a161b6 0%, #a800d8 50%);
color: #f5f5f5;
}
  
 header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
}

header h1 {
  position: relative;
  color: white;
  font-size: 28px;
  left: 3vw;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

header li {
  margin: 0;
}

header a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 10px
}

.main-content {
    width: 100%;
    margin: 10% auto;
}

   .hero {
  height: 40vh;
  margin-top: 15vh;
  text-align: center;
  line-height: 2.5rem
}

.hero h2 {
    font-size: 2rem;
}

.hero p {
    font-size: 20px;
    margin-bottom: 5%;
}

/*cta styling*/
.cta-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-btn {
    color: #f5f5f5;
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    width:fit-content;
    margin: auto;
    padding: 10px;
    font-size: larger;
    transition: 0.6s ease;
    text-decoration: none;
    }

.cta-btn:hover {
    background-color:#f5f5f5;
    color: #9000a8;
}

/*musings styling*/
.musings {
    padding-top: 65%;
    text-align: center;
    height: 65vh;
}

.musings p {
    font-size: 18px;
    margin-bottom: 5%;
}

.musings h2 { 
    font-size: 32px;
}


/*log-pro*/
.log-pro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

/*log styling*/
.log, .projects {
    width: 85%;
    padding: 15px;
    border: 2px solid;
    border-radius: 6px;
    text-align: center;
    margin: 10px auto;
}

/*styling p elements in the "From The Log" and "Stuff I've Done" sections*/
.log p, .projects p {
    font-size: 1.1rem;
}

#log, #projects { 
    width: 25vw;
}

footer {
    margin-top: 25vh
}
}


@media screen and (max-width: 480px) {

    * {
        font-size: 18px;
    }

    body {
    background: linear-gradient(180deg,#a161b6 0%, #a800d8 50%);
    color: #f5f5f5;
}
  
 header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
}

header h1 {
  color: white;
  font-size: 20px;
  display: none;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

header li {
  margin: 0;
}

header a {
  color: white;
  padding: 0;
  text-decoration: none;
  font-size: 10px
}

.main-content {
    width: 100%;
    margin: 10% auto;
}

   .hero {
  height: 85vh;
  padding-top: 60%;
  text-align: center;
  line-height: 2.5rem
}

.hero h2 {
    font-size: 2rem;
}

.hero p {
    font-size: 20px;
    margin-bottom: 5%;
}

/*cta styling*/
.cta-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-btn {
    color: #f5f5f5;
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    width:fit-content;
    margin: auto;
    padding: 10px;
    font-size: larger;
    transition: 0.6s ease;
    text-decoration: none;
    }

.cta-btn:hover {
    background-color:#f5f5f5;
    color: #9000a8;
}

/*musings styling*/
.musings {
    padding-top: 65%;
    text-align: center;
    height: 95vh;
}

.musings p {
    font-size: 22px;
    margin-bottom: 5%;
}


/*log-pro*/
.log-pro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

/*log styling*/
.log, .projects {
    width: 85%;
    padding: 15px;
    border: 2px solid;
    text-align: center;
    margin: 10px auto;
}

/*styling p elements in the "From The Log" and "Stuff I've Done" sections*/
.log p, .projects p {
    font-size: 1.1rem;
}

.view-btn {
    width: 33vw;
}

footer {
    margin-top: 40vh
}
}
